<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    登录名：<input type="text" id="account"><br>
    密码：<input type="password" id="pwd"><br>
    <input type="button" value="提交" id="btn">
</div>
<script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script>
    $('#btn').click(function () {
        $.post('/doLogin',{
            account:$('#account').val(),
            pwd:$('#pwd').val()
        },function (result) {
            console.log(result)
        })
    })
</script>
</body>
</html>