//
   Created by 13258 on 2017/4/27.

html
    head
        title 哈哈
        body
            #box
                ul
                    li 新闻
                    li 新闻
                    li 新闻
                    li 新闻
                    #aside