<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>小小聊天室 <span id="user"><%= account%></span></h1>
<div>
    <ul class="list"></ul>
</div>
<div>
    <input type="text" id="msg">
    <input type="button" id="btn" value="发送">
</div>
</body>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var socket = io();
    $('#btn').click(function(){
        socket.emit('chat',{
            'msg':$('#msg').val(),
            'user': $('#user').html()
        })
        $('#msg').val('')
    })
    $('#msg').keydown(function(e){
//        console.log(e)
        if (e.keyCode === 13){
            socket.emit('chat',{
                'msg':$('#msg').val(),
                'user': $('#user').html()
            })
            $(this).val('')
        }

    })

    socket.on('chat',function (msg) {
        $('.list').prepend('<li><b>'+msg.user+'</b>'+msg.msg + '</li>')
    })
</script>
</html>