<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>小小相册</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<form class="form-horizontal">
    <div class="form-group">
        <label for="account">姓名</label>
        <input type="text" class="form-control" id="account" name="account" placeholder="姓名">
    </div>
    <div class="form-group">
        <label for="msg">留言</label>
        <textarea class="form-control" rows="3" name="msg" id="msg"></textarea>
    </div>
    <button type="button" class="btn btn-default" id="sub">提交</button>
</form>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% for(var i = 1;i<=pagecount; i++) {%>
        <li class="" data-page ="<%=i%>"><a href="#"><%=i%></a></li>
        <% }%>
        <li >
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div class="msgList">

</div>
</div>
<script type="text/template" id="temp">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{= account}}></h4>
            <p class="list-group-item-text">{{= msg}}</p>
        </a>
    </div>
</script>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore-noflect.js"></script>
<script type="text/javascript">
_getData(1)
$('.pagination>li').click(function (){
    var page = parseInt($(this).attr('data-page'))
    _getData(page)
})

//    Ajax请求数据给所有的页码监听
    function _getData(page) {
        $.get('/du?page='+(page-1),(res) => {
            var json = res;
            var html = ''
            for(var i= 0;i<json.result.length;i++) {
    //            console.log(json.result[i])
               html += `<div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">${json.result[i].account}</h4>
                                <p class="list-group-item-text">${json.result[i].msg}</p>
                                <p class="list-group-item-text" >${json.result[i].time}</p>

                            </a>
                            <p><a href="/del?id=${json.result[i]._id}" data-id="" class="del">删除</a></p>
                        </div>`
    //            console.log(html)
            }
            $('.msgList').html(html)
        })
    }

//    Ajax提交表单
    $('#sub').on('click',() => {
        $.post('/tijiao',{account:$('#account').val(),msg:$('#msg').val()},res => {
            console.log(res)
        })
//        return false
    })

</script>
</body>
</html>